#logo{
	height: 100px;
	width:100px;
}
#header{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	font-weight: bold;
	line-height: 26.4px;
	vertical-align: middle;
	width: auto;
}
#header img{
	vertical-align: middle;
}
#content{
	margin-top:10%;
	
}
#content img{
	margin:5px;
}
body{
	margin-left: 120px;
	margin-right: 120px;
}
.img-with-text {
    text-align: center;
    width: 80px;
	margin-left: 50px;
}
.img-with-text img {
    display: block;
    margin: 0 auto;
}